In [2]:
import pandas as pd
file_path=r"C:\Users\SANTOSH KUMAR\Documents\DataFiles\bank.csv"
pd.read_csv(file_path)

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [7]:
import pandas as pd
file_path=r"C:\Users\SANTOSH KUMAR\Documents\DataFiles\bank.csv"
pd.read_csv(file_path,sep=',')

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [8]:
import pandas as pd
file_path=r"C:\Users\SANTOSH KUMAR\Documents\DataFiles\bank.csv"
visa_df=pd.read_csv(file_path,sep=',')
visa_df

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [9]:
type(visa_df)

pandas.core.frame.DataFrame

In [10]:
len(visa_df)

4521

In [11]:
visa_df.shape

(4521, 1)

In [13]:
print("the number of rows are:",visa_df.shape[0])
print("the number of columns are:",visa_df.shape[1])

the number of rows are: 4521
the number of columns are: 1

In [14]:
visa_df.size

4521

In [15]:
visa_df.shape[0]*visa_df.shape[1]

4521

In [16]:
len(visa_df.columns)

1

In [18]:
(visa_df.columns).index('no_of_employees')

AttributeError: 'Index' object has no attribute 'index'

In [19]:
visa_df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  30;"unemployed";"married";"primary";"no";1787;...
1  33;"services";"married";"secondary";"no";4789;...
2  35;"management";"single";"tertiary";"no";1350;...
3  30;"management";"married";"tertiary";"no";1476...
4  59;"blue-collar";"married";"secondary";"no";0;...

In [20]:
visa_df.tail()

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

In [21]:
visa_df.dtypes()

TypeError: 'Series' object is not callable

In [22]:
type(visa_df.dtypes)

pandas.core.series.Series

In [23]:
dtypes=visa_df.dtypes
dtypes.keys()
dtypes.values

array([dtype('O')], dtype=object)

In [24]:
import pandas as pd
file_path=r"C:\Users\SANTOSH KUMAR\Documents\DataFiles\visadataset.csv"
pd.read_csv(file_path)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\SANTOSH KUMAR\\Documents\\DataFiles\\visadataset.csv'

In [25]:
for i in dtypes.keys():
    print(i)

age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"

In [26]:
for i,j in dtypes.items():
    print(i,j)

age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y" object

In [ ]:
for i,j in dtypes.items():
    if j=='o'